<script setup lang="ts">
import AtbSf from '../assets/sf/atb.json'
const atb = ref('none')
const isSanford = ref(false)

const getImage = (name: string) => {
  return new URL(`../assets/${name}.jpg`, import.meta.url).href
}

watch(isSanford, ()=>{
  atb.value = 'none'
})

interface AtbType {
  [index: string]: string[]
}
const Antibiotics: AtbType = {
  vancomycin: [
    getImage('vancomycin_load'),
    getImage('vancomycin_maintain'),
    getImage('vancomycin_goal'),
  ],
  colistin: [
    getImage('colistin_dose'),
    getImage('colistin_dose_2'),
  ],
  sulbactam: [
    getImage('sulbactam_dose'),
    getImage('sulbactam_dose_2'),
    getImage('sulbactam_snh'),
  ],
  fosfomycin: [
    getImage('fosfomycin_dose'),
  ],
}

</script>
<template>
  <div class="">
    <h1 class="font-bold text-theme4 text-xl pb-3">Antibiotics</h1>
    <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 flex dark:border-gray-600 dark:text-white">
      <li class="w-full border-b border-gray-200 border-b-0 border-r dark:border-gray-600">
        <div class="flex items-center pl-3">
          <input id="radio-sf-false" v-model="isSanford" name="sf" type="radio" :value="false" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-600 dark:border-gray-500">
          <label for="radio-sf-false" class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300">SNH Dose</label>
        </div>
      </li>
      <li class="w-full dark:border-gray-600">
        <div class="flex items-center pl-3">
          <input id="radio-sf-true" v-model="isSanford" name="sf" type="radio" :value="true" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 dark:bg-gray-600 dark:border-gray-500">
          <label for="radio-sf-true" class="py-3 ml-2 w-full text-sm text-sm text-gray-900 dark:text-gray-300">Sanford</label>
        </div>
      </li>
    </ul>

    <div v-if="!isSanford"
      class="w-3/4 mx-auto">
      <select v-model="atb" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg my-3 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="none" selected>Choose an ATB</option>
        <option value="vancomycin">Vancomycin</option>
        <option value="colistin">Colistin</option>
        <option value="sulbactam">Sulbactam</option>
        <option value="fosfomycin">Fosfomycin</option>
      </select>
    </div>


    <div v-if="isSanford"
      class="w-9/10 mx-auto">
      <select v-model="atb" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg my-3 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="none" selected>Choose an ATB</option>
        <option v-for="(atb, key) in AtbSf" :key="atb"
          :value="atb">{{ key }}</option>
      </select>
      <Sanford :atb="atb"/>
    </div>
    <div class="flex flex-col gap-2 md:w-1/2 mx-auto">
      <div v-for="el in (Antibiotics[atb] ?? [])" :key="el">
        <img :src="el" rel="preload"/>
      </div>
    </div>
    
  </div>
</template>

<style>
</style>
