<script setup lang="ts">
import { Contacts } from '../composables/useContact'
const contactFilter = $ref('')

const contacts = $computed(()=>{
  let res = Contacts
  if (contactFilter != '') {
    res = res.filter(e => e.split(' ')[0].includes(contactFilter))
  }
  else res = []
  return res.slice(0, 20)
})

</script>
<template>
  <div class="">
    <h1 class="font-bold text-theme4 text-xl pb-3">SNH Contact</h1>
    <div class="w-3/4 mx-auto pb-5">
      <input type="text" class="p-1 border" v-model="contactFilter">
    </div>
    <div class="w-3/4 mx-auto">
      <p v-for="el in contacts">
        {{ el }}
      </p>
    </div>
    
  </div>
</template>

