<script setup lang="ts">
import HeparinSNH from '~/assets/heparin_snh.jpg'

const useWeight = $ref(false)
const weight = $ref(60)
const buttonClass = $computed(()=>{
  return {
    'rounded-xl border border-white py-1 px-2 text-sm': true,
    'bg-red-600 text-white': !useWeight,
    'bg-green-700 text-white': useWeight
  }
})

</script>
<template>
  <div>
    <h1 class="font-bold text-xl pb-3">Heparin scale</h1>
    <button @click="useWeight=!useWeight"
      v-show="false"
      :class="buttonClass">
      {{ useWeight ? 'Use weight' : 'Not use weight' }}
    </button>
    <div v-if="!useWeight" class="mx-auto md:w-1/2">
      <img :src="HeparinSNH" />
    </div>
    <div v-else>
      <input v-model="weight" class="p-1 mt-2 border" type="number" />

    </div>
    
  </div>
</template>
