<script setup lang="ts">
import { routes } from '~/composables/appRoutes'
</script>

<template>
  <div>
    <h1 class="text-xl font-bold">SNH helper</h1>
    <div class="flex flex-col mt-5">
      <router-link v-for="route in routes" :to="route.path" class="w-1/3 md:w-1/6 mx-auto">
        <button class="p-2 m-2 bg-theme1 font-bold text-black border border-theme4 w-full rounded-lg">
          {{ route.title }}
        </button>
      </router-link>
    </div>

  </div>

</template>

<route lang="yaml">
</route>
