<script setup lang="ts">
import { getNutrition } from '~/composables/useNutrition'
import type { Ref } from 'vue'

const nutrition: Ref<Array<any>> = ref([])
const searchText = $ref('')
const nutriNames = computed(()=>{
  return nutrition.value.map(e => e.itemname)
})
const filteredNames = computed(()=>{
  if (searchText == '') {
    return []
  }
  return nutriNames.value.filter(e => e.toLowerCase().includes(searchText.toLowerCase())).splice(0, 5)
})

onMounted(async ()=>{
  nutrition.value = await getNutrition()
})

let show = $ref('search')
let formula: any = $ref({})
let dose = $ref(250)
let freq = $ref(4)
let prot = $ref(0)
let weight = $ref(60)
let conc = $ref(1.2)

const calories = $computed(()=>{
  return dose*freq*conc
})
const protein = computed(()=>{
  return calories*prot/4/100
})
const chooseFormula = (name: string) => {
  show = 'show'
  formula = nutrition.value.filter(e=>(e.itemname == name))[0]
  prot = formula.distprot
}

</script>

<template>
  <div v-if="show == 'search'">
    <input type="text" v-model="searchText" class="input my-3" placeholder="Type formula"/>
    <button @click="searchText = ''" class="p-2 inline-flex items-end justify-center">
      <div class="inline-block i-mdi-close-circle text-black text-xl"/>
    </button>
    <div v-for="el in filteredNames" class="my-3">
      <button @click="chooseFormula(el)" class="border rounded-xl p-2">
        {{ el }}
      </button>
    </div>
    <div v-if="filteredNames.length < nutrition.length">...</div>
    <!-- <button @click="show='show'" class="button bg-blue-200">Show</button> -->
  </div>
  <div v-if="show == 'show'">
    <p>{{ formula.itemname }}</p>
    <p>Protein: {{ prot }}%</p>
    <br>
    <div class="grid grid-cols-7 gap-y-2 gap-x-1 w-3/4 mx-auto">
      <div class="col-span-3">
        <input type="number" v-model="dose" class="input w-full">
      </div>
      <div class="col-span-1 flex items-center justify-center">X</div>
      <div class="col-span-3">
        <input type="number" v-model="freq" class="input w-full">
      </div>
      <div class="col-span-2 flex items-center justify-end">
        Conc: 
      </div>
      <div class="col-span-2">
        <input type="number" v-model="conc" class="input w-full">
      </div>
      <div class="col-span-1 flex items-center justify-end">
        BW: 
      </div>
      <div class="col-span-2">
        <input type="number" v-model="weight" class="input w-full">
      </div>
    </div>
    <br>
    <p>
      Total Calories: {{ calories }} kCal = {{ (calories/weight).toFixed(2) }} kCal/kg/d
    </p>
    <p>
      Total Protein: {{ protein }} gm = {{ (protein/weight).toFixed(2) }} kCal/kg/d
    </p>
    <button @click="show='search'" class="button bg-red-200">Back</button>
  </div>
</template>

<style scoped lang="postcss">
.button {
  @apply px-2 py-1 m-3 border rounded-lg

}
.input {
  @apply border p-2 rounded-lg
}
</style>
