<script setup lang="ts">
const className = "mx-auto text-center opacity-10 text-sm"
const el = ref(null)

// const { x, y } = useWindowScroll()
const { bottom } = useElementBounding(el)
const { height } = useWindowSize()

const padding = computed(()=>{
  if ( bottom.value > height.value) {
    return 0
  } else {
    return height.value-bottom.value
  }
})

const styleFooter = computed(()=>{
  return {
    "margin-top": padding.value + "px",
  }
})
</script>

<template>
  <div :class="className" :style="styleFooter" ref="el">
    <!-- By Jui 2022 -->
  </div>
</template>
