<script setup lang="ts">
import IconImg from '~/assets/icon.png'
import {routes} from '~/composables/appRoutes'

const isToggleMenu = $ref(false)

const menuClass = $computed(()=>{
  return [
    {
      'hidden': !isToggleMenu
    },
    'w-full md:block md:w-auto'
  ]
})

</script>

<template>
  <nav class="py-3 px-6 bg-theme4 text-theme2 border-gray-200">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <router-link to="/" @click="isToggleMenu=false" class="flex items-center">
        <img :src="IconImg" class="mr-3 h-6 sm:h-10" alt="Logo">
        <span class="self-center text-xl font-semibold whitespace-nowrap">SNH-helper</span>
      </router-link>
      <button @click="isToggleMenu = !isToggleMenu"
        type="button" class="inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300" aria-controls="mobile-menu-2" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div :class="menuClass" id="mobile-menu">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-md md:font-bold">
          <li v-for="nav in routes" :key="nav.title">
            <router-link :to="nav.path" @click="isToggleMenu=false"
              class="menu-lg">
              {{ nav.title }}
            </router-link>
          </li>
          <!-- <li> -->
          <!--   <a href="#" class="menu-lg">About</a> -->
          <!-- </li> -->
        </ul>
      </div>
    </div>
  </nav>

</template>

<style scoped lang="postcss">
.menu-lg {
  @apply block py-2 pr-4 pl-3 text-theme2 border-b border-gray-100;
  @apply hover:bg-transplant md:hover:bg-transparent md:border-0 md:hover:text-theme1 md:p-0;
}

.dropdown-menu {
  @apply block py-2 px-4 hover:bg-gray-100;
}

</style>
