<script setup lang="ts">
import sanford from '../assets/sf/sanford.json'
import DOMPurify from 'dompurify';
const props = defineProps(['atb'])

const HtmlAtb = computed(()=>{
  return DOMPurify.sanitize(sanford[props.atb])
})

const mero = "hi"
</script>
<template>
  <div class="atb-content text-left" v-html="HtmlAtb"> </div>
  <!-- {{ sanford[props.atb] }} -->
</template>
<style>
@import './sanford.css'
</style>
