/* @import 'normalize.css'; */
.atb-content {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.atb-content h5 {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 5;
}
h2, h3 {
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#004C86), color-stop(100%,#3E8EC6));
  margin: 10px 0 10px 0;
}

h3.recommended-spectrum {
  color: black;
  background: #9fc5e8;
  margin: 10px 0 10px 0;
}
h3.active-spectrum {
  color: black;
  background: #cfc;
  margin: 10px 0 10px 0;
}

.atb-content li {
  padding-left: 6px;
}
.atb-content li:before {
  content: "\25a0";
  color: #004c86;
  font-size: .7em;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.1em;
  vertical-align: middle;
  /* padding-top: 0.15em; */
  /* margin-top: 0.15em; */
  padding-right: 0.1em;
  /* float: left; */
}
table, table td, table th {
  border: 1px solid #ccc;
  padding: 0.5em;
  border-collapse: collapse;
}
#lastUpdated {
  display:none;
}
